<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Dev by FredHorizon 2018</p>
                <a>https://github.com/FredHorizon</a>
            </div>
        </div>
    </footer>

</div>
