<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p> <%= t('app.name') %> <%= Date.today.year %> / Dev by FredHorizon </p>
                <a class="link-gray" data-ga-click="Footer, go to contact, text:contact"
                href="https://github.com/FredHorizon" target="blank">Contact GitHub</a>
            </div>
        </div>
    </footer>

</div>
